html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	color: black;
	text-shadow: 0 0 8px white;
}

.container {
	display: flex;
	width: 100%;
}

.options-box {
	width: 20%;
	background: #333333;
	padding-left: 15px;
}

.map-box {
	width: 80%;
}

a {
	text-decoration: none;
}

#back-button a:link, a:visited {
	display: block;
	color: blue;
	background: white;
	width: 50px;
	text-align: center;
}

#map {
	height: 100%;
}
